<div class="page-container">
  <div class="page-header">
    <div class="title-section">
      <h2>{{ t().gestion_usuarios.titulo }}</h2>
      <p>{{ t().gestion_usuarios.subtitulo }}</p>
    </div>
    <button class="btn-primary" (click)="irAcrear()">
      + {{ t().gestion_usuarios.nuevo_usuario }}
    </button>
  </div>

  <div *ngIf="cargando" class="loading-state">
    <div class="spinner"></div>
    <p>{{ t().globales.cargando }}</p>
  </div>

  <div class="table-card" *ngIf="!cargando">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ t().tablas.nombre_tabla }}</th>
          <th>{{ t().tablas.rut_tabla }}</th>
          <th>{{ t().tablas.email_tabla }}</th>
          <th>{{ t().tablas.acciones_tabla }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="listaUsuarios.length === 0">
          <td colspan="4" class="empty-state">{{ t().globales.sin_datos }}</td>
        </tr>

        <tr *ngFor="let item of listaUsuarios">
          <td class="td-title">
            {{ item.nombre }}
          </td>
          <td>{{ item.rut }}</td>
          <td>{{ item.email }}</td>
          
          <td class="td-actions">
            <button class="btn-icon view" (click)="verDetalle(item)" [title]="t().tablas.boton_ver">{{ t().tablas.boton_ver }}</button>
            <button class="btn-icon edit" (click)="editarUsuario(item.id_usuario)" [title]="t().tablas.boton_editar">{{ t().tablas.boton_editar }}</button>
            <button class="btn-icon delete" (click)="eliminarUsuario(item.rut)" [title]="t().tablas.boton_eliminar">{{ t().tablas.boton_eliminar }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ========================================== -->
<!-- MODAL DE DETALLE DEL USUARIO               -->
<!-- ========================================== -->
<div class="modal-overlay" *ngIf="itemSeleccionado" (click)="cerrarDetalle()">
  <div class="modal-content modal-sm" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h3>{{ t().modal_usuario.titulo }}</h3>
      <button class="btn-close" (click)="cerrarDetalle()">×</button>
    </div>

    <div class="modal-body">
      <div class="content-text">
        <p>
          <strong>{{ t().modal_usuario.nombre_completo }}</strong><br>
          {{ itemSeleccionado.nombre }}
        </p>
        <p>
          <strong>{{ t().modal_usuario.rut }}</strong><br>
          {{ itemSeleccionado.rut }}
        </p>
        <p>
          <strong>{{ t().modal_usuario.correo }}</strong><br>
          {{ itemSeleccionado.email }}
        </p>
      </div>
    </div>

  </div>
</div>